<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiments Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Experiments Dashboard</h1>
        <div class="row mt-5">
            <div class="col-4 text-center">
                <a href="/exp3" class="btn btn-primary btn-lg">Spectral Sensitivity Measurement</a>
            </div>
            <div class="col-4 text-center">
                <a href="/exp7" class="btn btn-primary btn-lg">Camera Exposure Stability</a>
            </div>
            <div class="col-4 text-center">
                <a href="/exp1_darkframe" class="btn btn-primary btn-lg">Dark Frame Analysis</a>
            </div>
            <div class="col-4 text-center mt-4">
                <a href="/exp1_linearity" class="btn btn-primary btn-lg">Linearity Analysis</a>
            </div>
            <div class="col-4 text-center mt-4">
                <a href="/exp1_flat_field" class="btn btn-primary btn-lg">Flat Field Analysis</a>
            </div>
            <div class="col-4 text-center mt-4">
                <a href="/exp5" class="btn btn-primary btn-lg">Sharpness Analysis</a>
            </div>
            <div class="col-4 text-center mt-4">
                <a href="/exp1_mean_variance" class="btn btn-primary btn-lg">Mean vs Variance Analysis</a>
            </div>
        </div>

        <h2 class="text-center mt-5">Under Construction (Working Matlab Implementation)</h2>
        <div class="row mt-5">
            <div class="col-4 text-center">
                <button class="btn btn-secondary btn-lg" disabled>CTF and MTF</button>
            </div>
            <div class="col-4 text-center">
                <button class="btn btn-secondary btn-lg" disabled>Camera Calibration</button>
            </div>
            <div class="col-4 text-center">
                <button class="btn btn-secondary btn-lg" disabled>Chromatic Aberration</button>
            </div>
            <div class="col-4 text-center mt-4">
                <button class="btn btn-secondary btn-lg" disabled>DN to Radiance</button>
            </div>
        </div>
    </div>
</body>
</html>
